body
{
	background-color:black;
}

.container-Main
{
	background-color:blue;
	width:750px;
	height:400px;
}
.col
{
	height:400px;
	width:250px;
}
.col1
{
	background-color:red;
	float:left;
	clear:left;
}
.col:hover
{
	background-color:gray;
}
.col2
{
	background-color:green;
	float:left;
}
.col3
{
	background-color:yellow;
	float:right;
	clear:right;
}